# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\md2\MD2_thread_Racing_cars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
